@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary_color: #ffffff;
    --secondary_color: #1596F5;
    --header_color: #333333;
    --section_color: #e8e8e8;
    --text_color: #666666;
    --header_text_color: #000000;
    
    /******************/
    /******************/

    --header_text: 3em;
    --medium_header_text: 2em;
    --small_header_text: 1.6em;
    --h4_font: 1.4em;
    --h5_font: 1.2em;
    --medium_font: 1em;
    --small_font: 0.9em;
    --span_font: 0.8em;
    
    /******************/
    /******************/
}

