@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary_color: #ffffff;
    --secondary_color: #1596F5;
    --header_color: #333333;
    --section_color: #e8e8e8;
    --text_color: #666666;
    --header_text_color: #000000;
    
    /******************/
    /******************/

    --header_text: 3em;
    --medium_header_text: 2em;
    --small_header_text: 1.6em;
    --h4_font: 1.4em;
    --h5_font: 1.2em;
    --medium_font: 1em;
    --small_font: 0.9em;
    --span_font: 0.8em;
    
    /******************/
    /******************/
}

.navbar-content li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: .4s;
    height: 3px;
    background-color: var(--secondary_color);
}

.navbar-content li:hover:after {
    width: 100%;
}

.button-action {
    text-decoration: none;
    padding: 5px;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--secondary_color);
}

.button-action div {
    font-size: 1em;
    color: var(--primary_color);
}

.button-action .bx {
    transform: rotate(-45deg);
    color: var(--secondary_color);
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--primary_color);
}

.button-action:hover .bx {
    animation: 3s RotatingBtn;
}

.button-action-two {
    text-decoration: none;
    padding: 5px;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--secondary_color);
}

.button-action-two div {
    font-size: 1em;
    color: var(--primary_color);
}

.button-action-two .bx {
    transform: rotate(-45deg);
    color: var(--secondary_color);
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--primary_color);
}

.button-action-two:hover .bx {
    animation: 3s RotatingBtn;
}

.button-action-three {
    text-decoration: none;
    padding: 5px;
    margin: 2% auto;
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--secondary_color);
}

.button-action-three div {
    font-size: 1em;
    color: var(--primary_color);
}

.button-action-three .bx {
    transform: rotate(-45deg);
    color: var(--secondary_color);
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--primary_color);
}

.button-action-three:hover .bx {
    animation: 3s RotatingBtn;
}

button {
    text-decoration: none;
    padding: 5px;
    margin: 2% auto;
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: var(--secondary_color);
}

button div {
    font-size: 1em;
    color: var(--primary_color);
}

button .bx {
    transform: rotate(-45deg);
    color: var(--secondary_color);
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--primary_color);
}

button:hover .bx {
    animation: 3s RotatingBtn;
}

.button-action-four {
    text-decoration: none;
    padding: 5px;
    margin: 2% 0;
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--secondary_color);
}

.button-action-four div {
    font-size: 1em;
    color: var(--primary_color);
}

.button-action-four .bx {
    transform: rotate(-45deg);
    color: var(--secondary_color);
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--primary_color);
}

.button-action-four:hover .bx {
    animation: 3s RotatingBtn;
}

.button-action-five {
    text-decoration: none;
    padding: 5px;
    margin: 2% 0;
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--secondary_color);
}

.button-action-five div {
    font-size: 1em;
    color: var(--primary_color);
}

.button-action-five .bx {
    transform: rotate(-45deg);
    color: var(--secondary_color);
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--primary_color);
}

.button-action-five:hover .bx {
    animation: 3s RotatingBtn;
}

.button-action-six {
    text-decoration: none;
    padding: 5px;
    margin: 2% 0;
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--header_text_color);
}

.button-action-six div {
    font-size: 1em;
    color: var(--primary_color);
}

.button-action-six .bx {
    transform: rotate(-45deg);
    color: var(--header_text_color);
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--primary_color);
}

.button-action-six:hover .bx {
    animation: 3s RotatingBtn;
}

.button-action-seven {
    text-decoration: none;
    padding: 5px;
    margin: 2% 0;
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--secondary_color);
}

.button-action-seven div {
    font-size: 1em;
    color: var(--primary_color);
}

.button-action-seven .bx {
    transform: rotate(-45deg);
    color: var(--secondary_color);
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--primary_color);
}

.button-action-seven:hover .bx {
    animation: 3s RotatingBtn;
}

.button-action-eight {
    text-decoration: none;
    padding: 5px;
    margin: 2% 0;
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--secondary_color);
}

.button-action-eight div {
    font-size: 1em;
    color: var(--primary_color);
}

.button-action-eight .bx {
    transform: rotate(-45deg);
    color: var(--secondary_color);
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--primary_color);
}

.button-action-eight:hover .bx {
    animation: 3s RotatingBtn;
}

.button-action-nine {
    text-decoration: none;
    padding: 5px;
    margin: 2% 0;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--header_text_color);
}

.button-action-nine div {
    font-size: 1em;
    color: var(--primary_color);
}

.button-action-nine .bx {
    transform: rotate(-45deg);
    color: var(--header_text_color);
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--primary_color);
}

.button-action-nine:hover .bx {
    animation: 3s RotatingBtn;
}

.button-action-ten {
    text-decoration: none;
    padding: 5px;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--secondary_color);
}

.button-action-ten div {
    font-size: 1em;
    color: var(--primary_color);
}

.button-action-ten .bx {
    transform: rotate(-45deg);
    color: var(--secondary_color);
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--primary_color);
}

.button-action-ten:hover .bx {
    animation: 3s RotatingBtn;
}

@keyframes RotatingBtn {
    0%{
        transform: rotate(-45deg);
    }
    75%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 1024px) {
 
    .button-action-two {
        width: 25%;
    }

    .button-action-three {
        width: 25%;
    }

    .button-action {
        width: 40%;
    }

    .button-action-ten {
        width: 25%;
    }

    .button-action-four {
        width: 50%;
    }

    .button-action-five {
        width: 60%;
    }

    .button-action-six {
        width: 55%;
    }

    .button-action-seven {
        width: 35%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 912px) {

    .button-action-two {
        width: 30%;
    }

    .button-action-three {
        width: 30%;
    }

    .button-action-ten {
        width: 35%;
    }

    .button-action-six {
        width: 70%;
    }

    .button-action-seven {
        width: 45%;
    }
}


@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 600px) {

    .button-action {
        width: 50%;
    }

    .button-action-two {
        width: 50%;
    }

    .button-action-three {
        width: 50%;
    }

    .button-action-ten {
        width: 40%;
    }

    .button-action-seven {
        width: 65%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 430px) {

    .button-action {
        width: 80%;
    }

    .button-action-two {
        width: 60%;
    }

    .button-action-three {
        width: 60%;
    }

    .button-action-ten {
        width: 50%;
    }

    .button-action-seven {
        width: 100%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 414px) {

    .button-action {
        width: 80%;
    }

    .button-action-two {
        width: 60%;
    }

    .button-action-three {
        width: 60%;
    }

    .button-action-ten {
        width: 50%;
    }

    .button-action-five {
        width: 75%;
    }

    .button-action-seven {
        width: 100%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 390px) {

    .button-action-ten {
        width: 60%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 360px) {

    .button-action {
        width: 80%;
    }

    .button-action-two {
        width: 70%;
    }

    .button-action-three {
        width: 70%;
    }

    .button-action-ten {
        width: 60%;
    }

    .button-action-five {
        width: 80%;
    }

    .button-action-seven {
        width: 100%;
    }
}