@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary_color: #ffffff;
    --secondary_color: #1596F5;
    --header_color: #333333;
    --section_color: #e8e8e8;
    --text_color: #666666;
    --header_text_color: #000000;
    
    /******************/
    /******************/

    --header_text: 3em;
    --medium_header_text: 2em;
    --small_header_text: 1.6em;
    --h4_font: 1.4em;
    --h5_font: 1.2em;
    --medium_font: 1em;
    --small_font: 0.9em;
    --span_font: 0.8em;
    
    /******************/
    /******************/
}

/********Attention Needed
body,
html {
    overflow-x: hidden;
}
**********/

/********Devtegrate Update Page**********/
.UpdateContainer {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 4%;
    background-color: var(--section_color);
}

.UpdateHeader {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.UpdateHeader h2 {
    font-weight: 700;
    font-size: var(--medium_header_text);
    color: var(--header_color);
}

.UpdateHeader p {
    font-weight: 100;
    font-size: var(--small_font);
    color: var(--text_color);
}

.UpdateHeader span {
    font-weight: 700;
    font-size: var(--span_font);
    color: var(--header_color);
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    display: flex;
    padding: 10px;
}

.UpdateBoxContainer {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: auto;
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.UpdateBox {
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    margin: 5px auto;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    background-color: var(--primary_color);
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid var(--primary_color);
    box-shadow: 0 5px 10px hsl(355deg 25% 5% / 10%);
    transition: all 0.9s ease;
}

.UpdateBox:hover {
    box-shadow: 20px 20px 20px 20px hsl(355deg 25% 5% / 10%);
}

.UpdateBoxHeader {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.UpdateBoxHeader h3 {
    font-weight: 700;
    width: 100%;
    font-size: var(--h5_font);
    color: var(--header_color);
}

.IconUpdateBoxContainer {
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

@keyframes RotateAnimation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes JingleAnimation {
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(90deg);
    }
    20%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(90deg);
    }
    40%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(0deg);
    }
    60%{
        transform: rotate(0deg);
    }
    70%{
        transform: rotate(90deg);
    }
    80%{
        transform: rotate(0deg);
    }
    90%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


.IconUpdateBox .bx {
    font-weight: 100;
    color: var(--primary_color);
    font-size: var(--h5_font);
}

.UpdateSideBox {
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.UpdateFlex {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    height: auto;
}

.UpdateContent p{
    font-weight: 100;
    font-size: var(--small_font);
    color: var(--text_color);
}

.UpdateSideContent h3 {
    font-size: var(--h5_font);
    font-weight: 500;
    color: var(--header_color);
}

.UpdateSideContent h4 {
    font-size: var(--medium_font);
    font-weight: 500;
    color: var(--header_color);
}

.UpdateSideContent li {
    font-size: var(--medium_font);
    font-weight: 500;
    color: var(--header_color);
}

.UpdateSideContent p {
    font-size: var(--small_font);
    font-weight: 100;
    color: var(--text_color);
    padding: 10px 20px;
}

.UpdateSideBoxContainer {
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 10px;
    height: 460px;
    overflow-y: scroll;
}

.UpdateSideBoxContainer::-webkit-scrollbar {
    width: 5px;
}

.UpdateSideBoxContainer::-webkit-scrollbar-thumb {
    background-color: var(--secondary_color);
    border-radius: 4px;
}

.UpdateSideBoxContainer::-webkit-scrollbar-track {
    background-color: var(--text_color);
}

.UpdateSideContent {
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 10px;
    display: none;
}

.UpdateSideContent.active {
    display: block;
}

.UpdateBox.active {
    background-color: var(--secondary_color);
    border: 2px solid var(--secondary_color);
}

.UpdateBox .IconUpdateBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 4px 8px;
    border-radius: 50%;
    background-color: var(--header_color);
}

.UpdateBox .UpdateContent{
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.UpdateBox.active .UpdateContent {
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.UpdateBox:hover .IconUpdateBox {
    animation: 5s JingleAnimation infinite;
}

.UpdateServicePage {
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    background-color: var(--header_text_color);
}

.UpdateServicePageContainer {
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 4%;
}

.UpdateServicePageContent {
    justify-content: flex-start;
    align-items: center;
    margin: 10px auto;
    width: 100%;
    height: 100%;
    display: block;
    padding: 15px 0;
}

.UpdateServicePageContent span {
    font-size: 0.85em;
    font-weight: 500;
    color: var(--secondary_color);
}

.UpdateServicePageContent h2 {
    font-size: 1.8em;
    font-weight: 700;
    color: var(--primary_color);
}

.UpdateServicePageContent p {
    font-size: 0.9em;
    font-weight: 100;
    color: var(--primary_color);
}

.UpdateGridBox {
    background-color: var(--header_color);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 10px auto;
}

.UpdateGridBox h2 {
    font-size: var(--h5_font);
    font-weight: 700;
    color: var(--secondary_color);
}

.UpdateGridBox p {
    font-size: 0.9em;
    font-weight: 100;
    color: var(--primary_color);
}

.UpdateGridDirection {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
}

.platform-management {
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--header_text_color);
}

.platform-management-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 4%;
}

.platform-management-flex {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.platform-management-images {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: auto;
}

.platform-management-images-position {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 4px;
    position: relative;
}

.platform-management-images-position p {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    font-size: var(--small_font);
    font-weight: 100;
    color: var(--primary_color);
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 1s ease;
}

.platform-management-images-position:hover p {
    opacity: 1;
    transform: translate(0, -20px);
}

.blue-box-color {
    background-color: var(--secondary_color);
}

.grey-box-color {
    background-color: var(--header_color);
}

.black-box-color {
    background-color: var(--header_text_color);
}

.platform-management-images-position img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.platform-management-content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.platform-management-content span {
    font-weight: 700;
    font-size: var(--span_font);
    color: var(--secondary_color);
}

.platform-management-content p {
    font-weight: 100;
    font-size: var(--medium_header_text);
    color: var(--primary_color);
}

.sector-focus {
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--header_color);
}

.sector-focus-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 4%;
}

.sector-focus-header {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 2%;
    text-align: center;
    width: 100%;
    max-width: 70%;
}

.sector-focus-header h2 {
    text-align: center;
    font-size: var(--medium_header_text);
    font-weight: 100;
    color: var(--secondary_color);
}

.sector-focus-header p {
    text-align: center;
    font-size: var(--medium_font);
    font-weight: 100;
    color: var(--primary_color);
}

.sector-focus-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
}

.sector-focus-grid-box {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    transition: all 1s ease;
    background-color: var(--secondary_color);
}

.sector-focus-grid-box img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    filter: invert(100%);
}

.sector-focus-grid-box p {
    font-size: var(--medium_font);
    font-weight: 100;
    color: var(--primary_color);
}

.sector-focus-grid-box-content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    text-align: center;
    position: absolute;
    opacity: 0;
    padding: 10px;
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
}

.sector-focus-grid-box:hover .sector-focus-grid-box-content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 1;
    padding: 10px;
    background-color: var(--secondary_color);
}

.sector-focus-grid-box-content h3 {
    font-size: var(--medium_font);
    font-weight: 700;
    color: var(--primary_color);
    padding: 10px;

}

.sector-focus-grid-box-content p {
    font-size: var(--medium_font);
    font-weight: 100;
    color: var(--primary_color);
}

.consult-section {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: var(--header_text_color);
}

.consult-section-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 4%;
}

.consult-section-flex {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.consult-section-content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 10px;
}

.consult-section-content h2 {
    font-size: var(--header_text);
    font-weight: 100;
    color: var(--primary_color);
}

.consult-section-content p {
    font-size: var(--medium_font);
    font-weight: 100;
    color: var(--primary_color);
}

.contact-section {
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--header_text_color);
}

.contact-section-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 15% 4%;
}

.contact-section-content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 70%;
    text-align: center;
}

.contact-section-content h1 {
    font-size: var(--header_text);
    color: var(--secondary_color);
    font-weight: 700;
}

.contact-section-content p {
    font-size: var(--medium_font);
    color: var(--primary_color);
    font-weight: 100;
}

.senders-form {
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--header_text_color);
}

.senders-form-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.senders-form-content {
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.senders-form-image-content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    position: relative;
}

.senders-form-image-content img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.senders-form-action {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.senders-form-action form{
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 2% 6%;
}

.senders-form-action form h1 {
    font-size: var(--medium_header_text);
    color: var(--secondary_color);
    font-weight: 700;
    padding: 2% 10px;
}

.senders-form-action-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.senders-form-action-container {
    justify-content: flex-start;
    align-items: center;
    margin: 10px 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--section_color);
}

.senders-form-action-container p {
    font-size: var(--small_font);
    padding: 10px;
    font-weight: 100;
    margin-right: auto;
    margin-bottom: 0;
    color: var(--secondary_color);
}

.senders-form-action-container input::placeholder {
    font-size: var(--small_font);
    color: var(--text_color);
}

.senders-form-action-container input {
    width: 100%;
    height: 40px;
    padding: 10px;
    outline: none;
    background-color: var(--section_color);
    color: var(--header_color);
    font-size: var(--medium_font);
    border: none;
    border-bottom: 2px solid var(--header_text_color);
}

.senders-form-action-container:hover input {
    border-bottom: 2px solid var(--secondary_color);
}

.senders-form-action-container-space {
    justify-content: flex-start;
    align-items: center;
    margin: 10px 5px;
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--section_color);
}

.senders-form-action-container-space p {
    font-size: var(--small_font);
    padding: 10px;
    font-weight: 100;
    margin-right: auto;
    margin-bottom: 0;
    color: var(--secondary_color);
}

.senders-form-action-container-space input {
    width: 100%;
    height: 40px;
    padding: 10px;
    outline: none;
    background-color: var(--section_color);
    color: var(--header_color);
    font-size: var(--medium_font);
    border: none;
    border-bottom: 2px solid var(--header_text_color);
}

.senders-form-action-container-space:hover input {
    border-bottom: 2px solid var(--secondary_color);
}

.senders-form-action-container-space input::placeholder {
    font-size: var(--small_font);
    color: var(--text_color);
}

.senders-form-action-container-space textarea::placeholder {
    font-size: var(--small_font);
    color: var(--text_color);
}

.senders-form-action-container-space textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    outline: none;
    background-color: var(--section_color);
    color: var(--header_color);
    font-size: var(--medium_font);
    border: none;
    border-bottom: 2px solid var(--header_text_color);
}

.senders-form-action-container-space:hover textarea {
    border-bottom: 2px solid var(--secondary_color);
}

.senders-form-image-content-details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    width: 100%;
    max-width: 70%;
    height: auto;
    padding: 20px;
}

.senders-form-image-content-details h1 {
    font-size: var(--header_text);
    font-weight: 100;
    color: var(--primary_color);
}

.senders-form-image-content-details p {
    font-size: var(--medium_font);
    font-weight: 100;
    color: var(--primary_color);
}

.senders-form-image-content-details span {
    font-size: var(--span_font);
    font-weight: 100;
    color: var(--secondary_color);
    padding: 10px;
}

.about-section {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.about-section-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    position: relative;
}

.about-section-content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
}

.about-section-content img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about-section-position {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.about-section-content-details {
    width: 100%;
    max-width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-section-content-details h2 {
    font-size: var(--header_text);
    font-weight: 700;
    color: var(--secondary_color);
}

.about-section-content-details p {
    font-size: var(--medium_font);
    font-weight: 100;
    color: var(--primary_color);
}

.about-section-content-details span {
    font-size: var(--span_font);
    font-weight: 500;
    color: var(--secondary_color);
}

.about-content {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.about-content-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 4%;
}

.about-content-details {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.about-content-details-container h2 {
    font-size: var(--medium_header_text);
    font-weight: 700;
    color: var(--secondary_color);
}

.about-content-details-container p {
    font-size: var(--medium_font);
    font-weight: 100;
    color: var(--header_color);
}

.about-content-details-container span {
    font-size: var(--span_font);
    font-weight: 500;
    color: var(--secondary_color);
}

.about-split-section {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.about-split-section-details {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.about-split-section-details h2 {
    font-size: var(--small_header_text);
    font-weight: 500;
    color: var(--secondary_color);
}

.about-split-details {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.about-split-details p {
    font-size: var(--medium_font);
    font-weight: 100;
    color: var(--header_color);
}

.about-list {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.about-list-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 4% 0;
}

.about-list-container h2 {
    font-size: var(--small_header_text);
    font-weight: 500;
    color: var(--secondary_color);
}

.about-list-container span {
    font-size: var(--span_font);
    font-weight: 500;
    color: var(--secondary_color);
}

.about-list-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
}

.about-list-grid-box {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    transition: all 1s ease;
    background-color: var(--secondary_color);
}

.services-outline {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: var(--section_color);
}

.services-outline-bg {
    background-color: var(--header_text_color);
}

.services-outline-bg .services-outline-details p {
    color: var(--primary_color);
}

.services-outline-bg .services-outline-details-content p {
    color: var(--primary_color);
}

.services-outline-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 4%;
}

.services-outline-content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.services-outline-details {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: auto;
    height: auto;
    padding: 10px 10% 10px 10px;
}

.services-outline-details h2 {
    font-size: var(--header_text);
    color: var(--secondary_color);
    font-weight: 100;
}

.services-outline-details p {
    font-size: var(--medium_font);
    color: var(--text_color);
    font-weight: 100;
}

.services-outline-details-content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 10px;
}

.services-outline-details-content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 10px;
}

.services-outline-details-content p {
    font-size: var(--medium_font);
    color: var(--text_color);
    font-weight: 100;
}

.list-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 0 4% 2% 4%;
}

.list-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
}

.list-grid-box {
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
}

.list-grid-box h3 {
    font-size: var(--medium_font);
    font-weight: 100;
    color: var(--secondary_color);
}

.list-grid-box p {
    font-size: var(--medium_font);
    font-weight: 100;
    color: var(--primary_color);
}

.client-section {
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--secondary_color);
}

.client-section-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.client-section-flex {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.client-section-image {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
    height: auto;
}

.client-section-image img {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.client-section-details {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 0 2%;
}

.client-section-header {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.client-section-details .client-section-header h2 {
    font-size: var(--small_header_text);
    color: var(--section_color);
    font-weight: 500;
    padding: 10px 0;
}

.client-section-header p {
    font-size: var(--medium_font);
    color: var(--primary_color);
    font-weight: 100;
}

.client-section-details .client-section-main {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 2% 0;
}

.client-section-details .client-section-main h2 {
    font-size: var(--medium_font);
    color: var(--section_color);
    font-weight: 500;
}

.client-section-sub-main {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.client-section-sub-main-details {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.client-section-sub-main-details h2 {
    font-size: var(--medium_font);
    color: var(--section_color);
    font-weight: 500;
}

.client-section-sub-main-details p {
    font-size: var(--medium_font);
    color: var(--primary_color);
    font-weight: 100;
}

.platform-management-box {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 4%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--header_color);
}

.platform-management-box-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.platform-management-box-container-content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.platform-management-box-container-content img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.platform-management-box-header {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 70%;
    text-align: center;
}

.platform-management-box-header h2 {
    font-size: 1.8em;
    font-weight: 700;
    color: var(--secondary_color);
}

.platform-management-box-header p {
    font-size: var(--medium_font);
    font-weight: 100;
    color: var(--primary_color);
}

.footer-display {
    justify-content: center;   
    align-items: center;
    margin: auto;
}

.footer-background-color-dark {
    background-color: var(--header_text_color);
}

.footer-background-color-grey {
    background-color: var(--header_color);
}

.footer-container {
    justify-content: center;   
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 4%;
}

.footer-container-content {
    justify-content: center;   
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.footer-container-header {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 4% 0;
}

.footer-display-image {
    justify-content: flex-end;
    align-items: center;
    margin-bottom: auto;
    width: auto;
    height: 100%;
    display: flex;
}

.footer-display-image img {
    width: 140px;
    height: auto;
    object-fit: scale-down;
}

.footer-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    gap: 1rem;
}

.footer-grid li{
    list-style: none;
}

.footer-grid li a{
    text-decoration: none;
    color: var(--primary_color);
    font-size: var(--medium_font);
}

.footer-socials {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}

.footer-socials li {
    list-style: none;
}

.footer-socials li a {
    text-decoration: none;
    color: var(--primary_color);
    font-size: var(--small_header_text);
    border-radius: 5px;
    margin: auto 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: scale(1.0);
}

.footer-socials li a:hover {
    color: var(--secondary_color);
    transition: all 1s ease;
    transform: scale(1.2);
}

.footer-flex {
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 4% 0 0 0;
}

.footer-flex-link {
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.footer-flex-link li {
    list-style: none;
}

.footer-flex-link li a {
    text-decoration: none;
    font-size: var(--medium_font);
    color: var(--primary_color);
    font-weight: 100;
    padding: 0 10px;
}

.footer-copyright {
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
}

.footer-copyright p {
    font-size: var(--medium_font);
    color: var(--secondary_color);
    font-weight: 100;
}

.footer-header-flex {
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.footer-header {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 0 20px;
}

.footer-header span {
    font-size: var(--small_font);
    font-weight: 700;
    color: var(--secondary_color);
}

.footer-header p {
    font-size: var(--medium_font);
    font-weight: 100;
    color: var(--primary_color);
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 1024px) {

    .platform-management-content {
        width: 60%;
    }

    .services-outline-content {
        display: flex;
        flex-direction: column;
    }

    .services-outline-details {
        padding: 10px;
        width: 100%;
    }

    .list-grid {
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 914px) {
    .UpdateFlex {
        flex-direction: column;
    }

    .UpdateBoxContainer {
        max-width: 100%;
    }

    .consult-section-flex {
        flex-direction: column;
    }

    .client-section-flex {
        display: flex;
        flex-direction: column;
    }

    .client-section-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .platform-management-box-container {
        display: flex;
        flex-direction: column;
    }

    .senders-form-content {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 600px) {

    .platform-management-flex {
        flex-direction: column;
        display: flex;
    }

    .platform-management-content {
        width: 100%;
    }

    .sector-focus-header {
        max-width: 100%;
        width: 100%;
    }

    .footer-header-flex {
        display: flex;
        flex-direction: column;
    }

    .footer-display-image {
        justify-content: flex-start;
        margin-top: auto;
        width: 100%;
        padding: 10px;
    }

    .footer-container-header {
        display: flex;
        flex-direction: column;
    }

    .footer-grid {
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        height: auto;
        text-align: center;
        margin: 15px auto;
    }

    .footer-flex {
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        height: auto;
        text-align: center;
        margin: 15px auto;
        display: flex;
        flex-direction: column;
    }

    .footer-flex-link {
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-copyright {
        justify-content: center;
        padding: 15px 0;
    }

    .footer-flex-link li {
        margin: 15px auto;
    }

    .footer-grid li {
        margin: 15px auto;
    }

    .about-section-content-details {
        max-width: 100%;
        padding: 0 4%;
    }

    .about-section-container {
        height: 100vh;
    }

    .about-split-section {
        display: flex;
        flex-direction: column;
    }

    .contact-section-content {
        max-width: 100%;
    }

    .senders-form-image-content-details {
        width: 100%;
        max-width: 100%;
    }

    .senders-form-action-flex {
        flex-direction: column;
        padding: 0 1%;
    }

}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 414px) {

    .sector-focus-grid {
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .platform-management-images {
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .platform-management-box-header {
        max-width: 100%;
        padding: 0 4%;
    }

    .list-grid {
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}


@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 375px) {
    .client-section-sub-main {
        display: flex;
        flex-direction: column;
    }
}