{% extends 'base.html' %} {% block content %}

<div class="about-section">
  <div class="about-section-container">
    <div class="about-section-content">
      <img
        src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695814791/devtegrate/840843081452_wnrq7q.jpg"
        alt="Devtegrate DevOps"
      />

      <div class="about-section-position">
        <div class="about-section-content-details">
          <span>DevOps. Cloud Service. Automation.</span>
          <h2>Embrace the Synergy of DevOps and Cloud Technology</h2>
          <p>
            Elevate your cloud experience with Devtegrate, where we meticulously
            address and fulfill your diverse cloud requirements with precision
            and expertise.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-content">
  <div class="about-content-container">
    <div class="about-content-details">
      <div class="about-content-details-container">
        <span>About Devtegrate</span>
        <h2>About Devtegrate</h2>
        <p>
          Devtegrate is a prominent professional services provider that
          specializes in Cloud DevOps. Our team is composed of multinational
          experts who possess extensive experience in the industry, totaling
          more than 50 years. We are committed to delivering exceptional
          services to our clients, addressing their specific needs on a global
          scale. At Devtegrate, we comprehend the distinct challenges that
          organizations encounter in managing their workflows, web applications,
          software development, and other critical requirements. To this end, we
          provide bespoke solutions that are tailored to streamline processes,
          enhance productivity, and guarantee seamless operations.
        </p>
      </div>

      <div class="about-split-section">
        <div class="about-split-section-details">
          <h2>Our commitment to efficiency and effectiveness</h2>
        </div>

        <div class="about-split-details">
          <p>
            Our unwavering commitment towards efficiency and effectiveness is
            reflected in the superior quality of our services. We employ
            industry-leading tools and best practices to deliver unparalleled
            solutions that align with our clients' organizational objectives and
            surpass their expectations. We collaborate closely with our clients
            to ensure that our services are tailored to meet their specific
            requirements.
          </p>
        </div>
      </div>

      <div class="about-split-section">
        <div class="about-split-section-details">
          <h2>Why we remain the best at what we do.</h2>
        </div>

        <div class="about-split-details">
          <p>
            Devtegrate is highly dynamic in its service delivery with a wide
            scope of knowledge, utilization of tool's for DevOps, Cloud Service
            and Automation. In a highly competitive space, we remain the most
            professional outfit, best known for efficiency, skill and
            professionalism. We don't miss mandates or break our promise so,
            when we give you our word, store it to the cloud, because we
            automate it.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="platform-management">
  <div class="platform-management-container">
    <div class="platform-management-flex">
      <div class="platform-management-content">
        <span>What we do.</span>
        <p>
          Elevate your enterprise with Devtegrate, your premier platform for
          delivering unparalleled cloud infrastructure.
        </p>
      </div>

      <div class="platform-management-images">
        <div class="platform-management-images-position blue-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099543/devtegrate/Amazon_Web_Services_dwlras.png"
            alt="Devtegrate DevOps"
          />
          <p>Amazon Web Service</p>
        </div>

        <div class="platform-management-images-position grey-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099544/devtegrate/Azure_wqqwri.png"
            alt="Devtegrate DevOps"
          />
          <p>Microsoft Azure</p>
        </div>

        <div class="platform-management-images-position blue-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099543/devtegrate/Google_Cloud_rlpatc.png"
            alt="Devtegrate DevOps"
          />
          <p>Google Cloud Platform</p>
        </div>

        <div class="platform-management-images-position grey-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099544/devtegrate/Docker_zg8ukh.png"
            alt="Devtegrate DevOps"
          />
          <p>Docker Image</p>
        </div>

        <div class="platform-management-images-position blue-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099544/devtegrate/Jenkins_khfaob.png"
            alt="Devtegrate DevOps"
          />
          <p>Jenkins</p>
        </div>

        <div class="platform-management-images-position grey-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099544/devtegrate/Kubernetes_iet8jy.png"
            alt="Devtegrate DevOps"
          />
          <p>Kubernetes</p>
        </div>

        <div class="platform-management-images-position blue-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099543/devtegrate/Git_q2dcqr.png"
            alt="Devtegrate DevOps"
          />
          <p>GitHub Actions</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="UpdateServicePage">
  <div class="UpdateServicePageContainer">
    <div class="UpdateServicePageContent">
      <span>DevOps. Cloud Service. Automation.</span>
      <h2>Our Expert Team</h2>
      <p>
        At Devtegrate, we bring together a dynamic team of professionals deeply
        entrenched in the realms of DevOps, Cloud Services, and Automation. Our
        collective expertise encompasses a diverse array of technological
        stacks, ensuring that we stay at the forefront of innovation and provide
        cutting-edge solutions to our clients.
      </p>
    </div>

    <div class="UpdateGridDirection">
      <div class="UpdateGridBox reveal__image">
        <p>
          We have a team of professionals with expertise in various
          technological and programming stacks, including expert DevOps services
          certified in the use of Amazon Web Services (AWS), Microsoft Azure,
          Google Cloud Platform, and Oracle Cloud Service.
        </p>
      </div>

      <div class="UpdateGridBox reveal__image">
        <p>
          Our vast knowledge in utilizing various tools for automation
          processes, CI/CD actions, containerization of applications,
          monitoring, logging, and other service requirements make us one of the
          leading organizations in Cloud formation, infrastructure, and
          automation.
        </p>
      </div>

      <div class="UpdateGridBox reveal__image">
        <p>
          Some of our notable clients include National Basketball Association
          (NBA), Hard Rock Cafe, Disney, and AutoStore, who have all testified
          to our competence in using a collaboration of tools to automate
          deployments.
        </p>
      </div>

      <div class="UpdateGridBox reveal__image">
        <p>
          We have a dedicated team to support application deployment, and a vast
          experience working in the cloud space.
        </p>
      </div>

      <div class="UpdateGridBox reveal__image">
        <p>
          Devtegrate also possesses experience working with DOD security
          applications, also known as DevSecOps, which combines software
          development (Dev), security (Sec), and information technology
          operations (Ops) to secure outcomes and shorten the development
          lifecycle.
        </p>
      </div>

      <div class="UpdateGridBox reveal__image">
        <p>
          Our aim is to lead the market in being a force to reckon with in
          DevOps and Cloud Infrastructure, as well as to solve market needs in
          cloud or "on-premise cloud infrastructure."
        </p>
      </div>
    </div>
  </div>
</div>

<div class="consult-section">
  <div class="consult-section-container">
    <div class="consult-section-flex">
      <div class="consult-section-content">
        <h2>Make that Great leap in Your Career Towards Greatness.</h2>
        <p>We create, we innovate and we deploy.</p>
      </div>

      <a href="" class="button-action">
        <div>Consult with Devtegrate</div>
        <i class="bx bx-right-arrow-alt"></i>
      </a>
    </div>
  </div>
</div>

<!-- Calendly badge widget begin -->
<link
  href="https://assets.calendly.com/assets/external/widget.css"
  rel="stylesheet"
/>
<script
  src="https://assets.calendly.com/assets/external/widget.js"
  type="text/javascript"
  async
></script>
<script type="text/javascript">
  window.onload = function () {
    Calendly.initBadgeWidget({
      url: "https://calendly.com/devtegrate/devtegrate-consult",
      text: "Get In touch with Devtegrate.",
      color: "#35A6FF",
      textColor: "#ffffff",
    });
  };
</script>
<!-- Calendly badge widget end -->
{% endblock %}
