<div class="footer-display footer-background-color-grey">
	<div class="footer-container">
		<div class="footer-container-content">
			<div class="footer-header-flex">
				<div class="footer-display-image">
					<img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724222/devtegrate/devtegrate_ayl4m6.png" alt="Devtegrate DevOps" class="brand"/>
				</div>

				<div class="footer-header">
					<span>DevOps made easy</span>
					<p>Devtegrate is a professional service provider with a wealth of experience in Cloud DevOps. Our team of multinationals boasts a combined experience of over 50 years in the industry, with a thorough understanding of our clients' needs on a global scale. We pride ourselves in the provision of efficient and effective workflow and management systems, tailored to meet organizational goals and ensure seamless operations in daily tasks, web applications, software development, and other important requirements.</p>

					<a href="" class="button-action-ten">
		              <div>Read About Us</div>
		              <i class='bx bx-right-arrow-alt'></i>
		            </a>
				</div>
			</div>

			<div class="footer-container-header">
				<div class="footer-grid">
					<li><a href="{{ url_for ('index') }}">Home Page</a></li>
					<li><a href="{{ url_for ('about') }}">About Devtegrate</a></li>
					<li><a href="{{ url_for ('services') }}">Our Services</a></li>
					<li><a href="{{ url_for ('contact') }}">Consult with us</a></li>
					<li><a href="{{ url_for ('inspiration') }}">Insights</a></li>
					<li><a href="{{ url_for ('cloud_infrastructure') }}">Cloud Infrastructure</a></li>
				</div>

				<div class="footer-socials">
					<li><a href="https://www.facebook.com/profile.php?id=100087533002431"><i class='bx bxl-facebook-circle'></i></a></li>
					<li><a href="https://www.instagram.com/devtegrate_llc"><i class='bx bxl-instagram-alt' ></i></a></li>
					<li><a href="https://www.twitter.com/Devtegrate_LLC"><i class='bx bxl-twitter' ></i></a></li>
					<li><a href="mailto:tobi@devtegrate.com"><i class='bx bxl-gmail' ></i></a></li>
				</div>
			</div>

			<div class="footer-flex">
				<div class="footer-flex-link">
					<li><a href="static/document/devtegrate-legal-document.pdf">Legal</a></li>
					<li><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a></li>
					<li><a href="{{ url_for ('frequentlyaskedquestion') }}">F.A.Q</a></li>
				</div>

				<div class="footer-copyright">
					<p>Copyright &copy; Devtegrate <small>2024</small></p>
				</div>
			</div>
		</div>
	</div>
</div>