<div>
	<div>
		<div>
			<div>
				<div>
					<img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724222/devtegrate/devtegrate_ayl4m6.png" alt="Devtegrate DevOps" class="brand"/>
				</div>

				<div>
					<li><a href="">Legal</a></li>
					<li><a href="">Privacy Policy</a></li>
					<li><a href="">F.A.Q</a></li>
				</div>

				<div>
					<li><a href="">Facebook</a></li>
					<li><a href="">Instagram</a></li>
					<li><a href="">Email</a></li>
				</div>
			</div>

			<div>
				<li><a href="">Legal</a></li>
				<li><a href="">Privacy Policy</a></li>
				<li><a href="">F.A.Q</a></li>
			</div>
		</div>
	</div>
</div>