{% extends 'base.html' %}
  {% block content %} 
    <div class="page-container">
      <div class="page-video">
        <video src="https://res.cloudinary.com/quinn-daisies/video/upload/v1697136414/devtegrate/video_10_c5p8nm.mp4" autoplay muted loop></video>
      </div>

      <div class="page-content">
        <div class="page-layout">
          <div class="page-content-details">
            <h1>Cloud Services <br> <span>for Strategic Excellence.</span></h1>
            <p>Navigating the dynamic terrain of today's swiftly evolving technological landscape poses a formidable challenge for businesses. Recognizing the pivotal significance of adopting a development and deployment strategy conducive to seamless and efficient cloud service delivery, Devtegrate emerges as a strategic partner.</p>

            <a href="" class="button-action">
              <div>Explore Devtegrate</div>
              <i class='bx bx-right-arrow-alt'></i>
            </a>
          </div>

          <div class="client-header">
            <h2>Our success is rooted in a dedication to providing expert solutions tailored to the unique needs of each client.</h2>
          </div>

          <div class="page-client">
            <div class="page-client-box active">
              <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136554/devtegrate/landstar_gnv2jr-removebg-preview_nyr5zk.png" alt="Devtegrate DevOps"/>

              <div class="page-client-info">
                <h2>Landstar.</h2>
                <p>Navigating the intricate landscape of transportation and logistics, Devtegrate brings unparalleled expertise to optimize operations, enhance efficiency, and fortify Landstar's position as an industry leader.</p>
              </div>
            </div>

            <div class="page-client-box">
              <img
                src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136554/devtegrate/aws_xcngxf-removebg-preview_pi6ea2.png"
                alt="Devtegrate DevOps"
                
              />

              <div class="page-client-info">
                <h2>Amazon Web Service.</h2>
                <p>In the vast realm of cloud computing, Devtegrate's expertise shines as we strategically leverage AWS, transforming it beyond a platform into a dynamic partner, ensuring seamless and scalable solutions.</p>
              </div>
            </div>

            <div class="page-client-box">
              <img
                src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136553/devtegrate/hardrock_mzhbsm-removebg-preview_uuogdg.png"
                alt="Devtegrate DevOps"
                
              />

              <div class="page-client-info">
                <h2>Hardrock Cafe.</h2>
                <p>As custodians of Hardrock Cafe's cloud infrastructure, Devtegrate's expertise adds a rock-solid foundation to the globally renowned themed restaurants, infusing vibrancy and efficiency into their digital ecosystem.</p>
              </div>
            </div>

            <div class="page-client-box">
              <img
                src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136553/devtegrate/autostore_zwuzf9-removebg-preview_qyqwco.png"
                alt="Devtegrate DevOps"
                
              />

              <div class="page-client-info">
                <h2>Autostore</h2>
                <p>Devtegrate's expertise collaborates with Autostore's cutting-edge automated storage systems, ushering in a new era of warehouse efficiency. Our impact is measured in optimized processes and enhanced productivity.</p>
              </div>
            </div>

            <div class="page-client-box">
              <img
                src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136553/devtegrate/Azure2_j4nywj-removebg-preview_xfjyzg.png"
                alt="Devtegrate DevOps"
                
              />

              <div class="page-client-info">
                <h2>Microsoft Azure</h2>
                <p>At the intersection of innovation and reliability, Devtegrate's expertise transforms Microsoft Azure from a platform to a strategic ally. We harness its comprehensive capabilities to propel businesses forward.</p>
              </div>
            </div>

            <div class="page-client-box">
              <img
                src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696862528/devtegrate-updates/download_2_xyu9nm.png"
                alt="Devtegrate DevOps"
                
              />

              <div class="page-client-info">
                <h2>NBA (National Basketball Association)</h2>
                <p>In the fast-paced world of professional basketball, Devtegrate ensures the NBA's infrastructure stands tall. Our expertise supports the league's commitment to excellence, delivering a solid technological foundation.</p>
              </div>
            </div>

            <div class="page-client-box">
              <img
                src="https://res.cloudinary.com/quinn-daisies/image/upload/v1703781400/devtegrate-updates/Millennia_Title_Logo-200x-removebg-preview_fpbjym.png"
                alt="Devtegrate DevOps"
                
              />

              <div class="page-client-info">
                <h2>Millennia Title</h2>
                <p>Navigating the intricate landscape of real estate transactions, Devtegrate's expertise at Millennia Title ensures a seamless and efficient closing process. We bring a blend of innovation and reliability to every transaction.</p>
              </div>
            </div>

            <div class="page-client-box">
              <img
                src="https://res.cloudinary.com/quinn-daisies/image/upload/v1703784674/devtegrate-updates/download-removebg-preview_lzhc3d.png"
                alt="Devtegrate DevOps"
                
              />

              <div class="page-client-info">
                <h2>Carnival.</h2>
                <p>Sailing alongside Carnival Cruise Line, Devtegrate's expertise transforms exciting cruise deals into seamless experiences. Our impact resonates in the vibrant destinations, ensuring passengers embark on unforgettable journeys.</p>
              </div>
            </div>

            <div class="NavBtnContainer">
              <div class="NavBtn active"></div>
              <div class="NavBtn"></div>
              <div class="NavBtn"></div>
              <div class="NavBtn"></div>
              <div class="NavBtn"></div>
              <div class="NavBtn"></div>
              <div class="NavBtn"></div>
              <div class="NavBtn"></div>
            </div>
            
          </div>
        </div>

        <div class="media_icons">
          <a
            class="reveal__boxes__social__right"
            href="https://www.facebook.com/profile.php?id=100087533002431"
            ><i class="bx bxl-facebook"></i
          ></a>

          <a
            class="reveal__boxes__social__right"
            href="https://www.instagram.com/devtegrate_llc"
            ><i class="bx bxl-instagram"></i
          ></a>

          <a
            class="reveal__boxes__social__right"
            href="https://www.twitter.com/Devtegrate_LLC"
            ><i class="bx bxl-twitter"></i
          ></a>
        </div>
      </div>
    </div>  

    <div class="UpdateServicePage">
      <div class="UpdateServicePageContainer">
        
        <div class="UpdateServicePageContent">
          <span>Why us?</span>
          <h2>Discover the Devtegrate advantage that sets us apart</h2>
          <p>Devtegrate is a leading provider of cloud solutions and services. We offer flexible and scalable cloud services that are designed to meet the needs of businesses of all sizes. Our cloud services are backed by a team of certified cloud experts who have extensive experience in designing, deploying, and managing cloud solutions. By choosing Devtegrate, customers can benefit from reduced IT costs, increased business agility, and improved operational efficiency.</p>
          
          <a href=" {{ url_for ( 'about' ) }} " class="button-action-two">
            <div>Learn More About Us</div>
            <i class='bx bx-right-arrow-alt'></i>
          </a>
        </div>

        <div class="UpdateGridDirection">
          <div class="UpdateGridBox reveal__image">
            <h2>Client-Centric Approach</h2>
            <p>Our client-centric approach ensures that we deliver tailored solutions specifically designed to address the unique challenges of your industry.</p>
          </div>

          <div class="UpdateGridBox reveal__image">
            <h2>Infrastructure as Code for Startups</h2>
            <p>Devtegrate's Infrastructure as Code solutions provide the agility and flexibility essential for handling varying workloads and achieving rapid growth.</p>
          </div>

          <div class="UpdateGridBox reveal__image">
            <h2>Professional Cloud Services for Organizations</h2>
            <p>Security and compliance are non-negotiable in today's digital era. Devtegrate ensures that your organization's journey to the cloud is secure and compliant.</p>
          </div>

          <div class="UpdateGridBox reveal__image">
            <h2>Proven Track Record</h2>
            <p>Transforming the operations of healthcare organizations, streamlining financial services, or revolutionizing the way startups scale, our proven track record speaks volumes about the impact we bring to our clients.</p>
          </div>

          <div class="UpdateGridBox reveal__image">
            <h2>Innovation and Technology Leadership</h2>
            <p>We embrace the latest innovations, ensuring that your business stays at the forefront of technological advancements.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="expanse">
      <div class="expanse-container">
        <div class="expanse-container-header">
          <h2>Devtegrate Featured Services</h2>
          <p>Explore our comprehensive range of Azure services designed to address specific industry challenges</p>
        </div>
        
        <div class="expanse-content">

          <div class="expanse-content-card">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696095670/devtegrate/6222818_hj3221.jpg" alt="Devtegrate DevOps">

            <div class="expanse-card-content">
              <h1>Devtegrate Services</h1>
              <div class="liner-class"></div>
              <h2>Cloud DevOps</h2>
              <p>Devtegrate exemplifies a commitment to excellence by delivering comprehensive and sophisticated solutions in the dynamic landscape of cloud technologies.</p>
            </div>
            <p>Cloud DevOps</p>
          </div>

          <div class="expanse-content-card">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696095670/devtegrate/6222818_hj3221.jpg" alt="Devtegrate DevOps">

            <div class="expanse-card-content">
              <h1>Devtegrate Services</h1>
              <div class="liner-class"></div>
              <h2>Cloud Consulting</h2>
              <p>Experience the difference with our professional Cloud DevOps services at Devtegrate.</p>
            </div>
            <p>Cloud Consulting</p>
          </div>

          <div class="expanse-content-card">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696095670/devtegrate/6222818_hj3221.jpg" alt="Devtegrate DevOps">

            <div class="expanse-card-content">
              <h1>Devtegrate Services</h1>
              <div class="liner-class"></div>
              <h2>Managed Cloud Services</h2>
              <p>Devtegrate's commitment to excellence is reflected in our ability to provide sophisticated solutions in the realm of cloud technologies.</p>
            </div>
            <p>Managed Cloud Services</p>
          </div>

          <div class="expanse-content-card">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696095670/devtegrate/6222818_hj3221.jpg" alt="Devtegrate DevOps">

            <div class="expanse-card-content">
              <h1>Devtegrate Services</h1>
              <div class="liner-class"></div>
              <h2>Cloud Architecture and Redundant</h2>
              <p>Our commitment to excellence is evident in providing comprehensive solutions in cloud architecture and redundancy.</p>
            </div>
            <p>Cloud Architecture and Redundant</p>
          </div>

          <div class="expanse-content-card">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696095670/devtegrate/6222818_hj3221.jpg" alt="Devtegrate DevOps">

            <div class="expanse-card-content">
              <h1>Devtegrate Services</h1>
              <div class="liner-class"></div>
              <h2>Cloud Scalability and Migrations</h2>
              <p>Devtegrate's excellence shines through in delivering comprehensive solutions for cloud scalability and migrations.</p>
            </div>
            <p>Cloud Scalability and Migrations</p>
          </div>

          <div class="expanse-content-card">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696095670/devtegrate/6222818_hj3221.jpg" alt="Devtegrate DevOps">

            <div class="expanse-card-content">
              <h1>Devtegrate Services</h1>
              <div class="liner-class"></div>
              <h2>Cloud Security and DevSecOps</h2>
              <p>Devtegrate's commitment to excellence is evident in our ability to provide comprehensive solutions in the critical areas of cloud security and DevSecOps.</p>
            </div>
            <p>Cloud Security and DevSecOps</p>
          </div>
        </div>

        <a href=" {{ url_for ( 'about' ) }} " class="button-action-three">
          <div>Learn More About Us</div>
          <i class='bx bx-right-arrow-alt'></i>
        </a>

      </div>
    </div>

    <div class="platform-management">
      <div class="platform-management-container">
        <div class="platform-management-flex">

          <div class="platform-management-content">
            <span>What we do.</span>
            <p>Elevate your enterprise with Devtegrate, your premier platform for delivering unparalleled cloud infrastructure.</p>
          </div>

          <div class="platform-management-images">
            <div class="platform-management-images-position blue-box-color">
              <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099543/devtegrate/Amazon_Web_Services_dwlras.png" alt="Devtegrate DevOps">
              <p>Amazon Web Service</p>
            </div>

            <div class="platform-management-images-position grey-box-color">
              <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099544/devtegrate/Azure_wqqwri.png" alt="Devtegrate DevOps">
              <p>Microsoft Azure</p>
            </div>

            <div class="platform-management-images-position blue-box-color">
              <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099543/devtegrate/Google_Cloud_rlpatc.png" alt="Devtegrate DevOps">
              <p>Google Cloud Platform</p>
            </div>

            <div class="platform-management-images-position grey-box-color">
              <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099544/devtegrate/Docker_zg8ukh.png" alt="Devtegrate DevOps">
              <p>Docker Image</p>
            </div>

            <div class="platform-management-images-position blue-box-color">
              <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099544/devtegrate/Jenkins_khfaob.png" alt="Devtegrate DevOps">
              <p>Jenkins</p>
            </div>

            <div class="platform-management-images-position grey-box-color">
              <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099544/devtegrate/Kubernetes_iet8jy.png" alt="Devtegrate DevOps">
              <p>Kubernetes</p>
            </div>

            <div class="platform-management-images-position blue-box-color">
              <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099543/devtegrate/Git_q2dcqr.png" alt="Devtegrate DevOps">
              <p>GitHub Actions</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sector-focus">
      <div class="sector-focus-container">
        <div class="sector-focus-header">
          <h2>Understand how we cater to specific industries</h2>
          <p>In the dynamic landscape of startups and tech companies, innovation is the heartbeat of success. Devtegrate offers scalable and flexible cloud solutions designed to handle varying workloads and rapid growth.</p>
        </div>

        <div class="sector-focus-grid">

          <div class="sector-focus-grid-box">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1702912809/devtegrate-updates/Heart_with_Pulse_gffunu.png" alt="Devtegrate DevOps"/>
            <p>Healthcare Organizations.</p>

            <div class="sector-focus-grid-box-content">
              <h3>Healthcare Organizations.</h3>
              <p>In the healthcare sector, data security is paramount. Devtegrate ensures compliance with health-related regulations, such as HIPAA in the USA.</p>
            </div>
          </div>

          <div class="sector-focus-grid-box">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1702916536/devtegrate-updates/Refund_as0oy2.png" alt="Devtegrate DevOps"/>
            <p>Financial Services.</p>

            <div class="sector-focus-grid-box-content">
              <h3>Financial Services.</h3>
              <p>Banks, insurance companies, and fintech startups can benefit from Azure's secure and compliant cloud environment for managing financial transactions, data analytics, and customer data.</p>
            </div>
          </div>

          <div class="sector-focus-grid-box">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1702916579/devtegrate-updates/Shop_qzeefy.png" alt="Devtegrate DevOps"/>
            <p>Retail and E-commerce.</p>

            <div class="sector-focus-grid-box-content">
              <h3>Retail and E-commerce.</h3>
              <p>Our professional Cloud Infrastructure setup incorporates cutting-edge AI capabilities, ensuring tailored and personalized shopping experiences for an elevated and sophisticated customer journey.</p>
            </div>
          </div>

          <div class="sector-focus-grid-box">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1702915936/devtegrate-updates/Education_sltaue.png" alt="Devtegrate DevOps"/>
            <p>Educational Institutions.</p>

            <div class="sector-focus-grid-box-content">
              <h3>Educational Institutions.</h3>
              <p>Our Azure solutions facilitate remote learning platforms, secure research data storage, and streamlined administrative functions.</p>
            </div>
          </div>

          <div class="sector-focus-grid-box">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1702916042/devtegrate-updates/Manufacturing_rbxsvq.png" alt="Devtegrate DevOps"/>
            <p>Manufacturing and Logistics</p>

            <div class="sector-focus-grid-box-content">
              <h3>Manufacturing and Logistics</h3>
              <p>For manufacturing and logistics, efficiency is key. Devtegrate harnesses the power of Azure for IoT solutions, supply chain management, and predictive maintenance.</p>
            </div>
          </div>

          <div class="sector-focus-grid-box">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1702916602/devtegrate-updates/Museum_pvbldu.png" alt="Devtegrate DevOps"/>
            <p>Government Agencies</p>

            <div class="sector-focus-grid-box-content">
              <h3>Government Agencies</h3>
              <p>Devtegrate delivers Azure Government services tailored to the unique needs for public sector entities.</p>
            </div>
          </div>

          <div class="sector-focus-grid-box">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1702916717/devtegrate-updates/Play_tao2nx.png" alt="Devtegrate DevOps"/>
            <p>Media and Entertainment</p>

            <div class="sector-focus-grid-box-content">
              <h3>Media and Entertainment</h3>
              <p>Our Azure solutions include streaming services, content delivery networks, and digital rights management, ensuring your content reaches audiences efficiently and securely.</p>
            </div>
          </div>

          <div class="sector-focus-grid-box">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695804204/devtegrate/Automation_u0vie8.png" alt="Devtegrate DevOps"/>
            <p>Professional Services</p>

            <div class="sector-focus-grid-box-content">
              <h3>Professional Services</h3>
              <p>From secure data storage to advanced collaboration tools and CRM solutions, we enhance the efficiency and security of professional service providers.</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="consult-section">
      <div class="consult-section-container">
        <div class="consult-section-flex">
          
          <div class="consult-section-content">
            <h2>Initiate Your Journey with Devtegrate Consulting</h2>
            <p>Experience the value of our cloud consultation services, designed to provide expert guidance and build robust infrastructure, propelling the growth of your business.</p>
          </div>

          <a href="" class="button-action">
            <div>Consult with Devtegrate</div>
            <i class='bx bx-right-arrow-alt'></i>
          </a>

        </div>
      </div>
    </div>

    <!-- Calendly badge widget begin -->
      <link
        href="https://assets.calendly.com/assets/external/widget.css"
        rel="stylesheet"
      />
      <script
        src="https://assets.calendly.com/assets/external/widget.js"
        type="text/javascript"
        async
      ></script>
      <script type="text/javascript">
        window.onload = function () {
          Calendly.initBadgeWidget({
            url: "https://calendly.com/devtegrate/devtegrate-consult",
            text: "Get In touch with Devtegrate.",
            color: "#35A6FF",
            textColor: "#ffffff",
          });
        };
      </script>
    <!-- Calendly badge widget end -->
  {% endblock %}