{% extends 'base.html' %} {% block content %}
<div class="inspiration-section">
  <div class="inspiration-section-container">
    <!-- First Slide in the mix -->

    <div class="inspiration-section-content active">
      <div class="inspiration-section-details reveal__box">
        <span
          >Our Diverse Industry Focus | Cutting-Edge Professional Tools.</span
        >
        <p>
          We are the Preferred Transformation Partner for Global Leaders,
          committed to delivering excellence & driving innovation through
        </p>
        <changer>Cloud Services.</changer>
      </div>

      <div class="inspiration-grid">
        <div class="inspiration-grid-box reveal__boxes blue-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099543/devtegrate/Amazon_Web_Services_dwlras.png"
            alt="Devtegrate DevOps"
          />
          <p>Amazon Web Service</p>
        </div>

        <div class="inspiration-grid-box reveal__boxes grey-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099544/devtegrate/Azure_wqqwri.png"
            alt="Devtegrate DevOps"
          />
          <p>Microsoft Azure</p>
        </div>

        <div class="inspiration-grid-box reveal__boxes blue-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099543/devtegrate/Google_Cloud_rlpatc.png"
            alt="Devtegrate DevOps"
          />
          <p>Google Cloud Platform</p>
        </div>

        <div class="inspiration-grid-box reveal__boxes grey-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706645156/devtegrate/IBM_tpgmjh.png"
            alt="Devtegrate DevOps"
          />
          <p>IBM Cloud</p>
        </div>

        <div class="inspiration-grid-box reveal__boxes blue-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706645155/devtegrate/Heroku_llt0xi.png"
            alt="Devtegrate DevOps"
          />
          <p>Heroku</p>
        </div>

        <div class="inspiration-grid-box reveal__boxes grey-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706645154/devtegrate/Linode_jnals2.png"
            alt="Devtegrate DevOps"
          />
          <p>Kubernetes</p>
        </div>

        <div class="inspiration-grid-box reveal__boxes blue-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706645156/devtegrate/Google_Cloud_Platform_krfkll.png"
            alt="Devtegrate DevOps"
          />
          <p>GitHub Actions</p>
        </div>
      </div>
    </div>

    <!-- Next Slide in the mix -->

    <div class="inspiration-section-content">
      <div class="inspiration-section-details reveal__box">
        <span
          >Our Diverse Industry Focus | Cutting-Edge Professional Tools.</span
        >
        <p>
          Our meticulously crafted choice of tools are designed to empower you
          to concentrate on mission-critical tasks while entrusting us with the
          management of your
        </p>
        <changer>Cloud Infrastructure</changer>.
      </div>

      <div class="inspiration-grid">
        <div class="inspiration-grid-box reveal__boxes blue-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099544/devtegrate/Jenkins_khfaob.png"
            alt="Devtegrate DevOps"
          />
          <p>Jenkins</p>
        </div>

        <div class="inspiration-grid-box reveal__boxes grey-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706645155/devtegrate/Bitbucket_gqioje.png"
            alt="Devtegrate DevOps"
          />
          <p>Bit Bucket</p>
        </div>

        <div class="inspiration-grid-box reveal__boxes blue-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706645154/devtegrate/Terraform_mdzrco.png"
            alt="Devtegrate DevOps"
          />
          <p>Terraform</p>
        </div>

        <div class="inspiration-grid-box reveal__boxes grey-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706645154/devtegrate/GitHub_freowa.png"
            alt="Devtegrate DevOps"
          />
          <p>GitHub</p>
        </div>

        <div class="inspiration-grid-box reveal__boxes blue-box-color">
          <img
            src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/grafana.png"
            alt="Devtegrate DevOps"
          />
          <p>Grafana</p>
        </div>

        <div class="inspiration-grid-box reveal__boxes grey-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099544/devtegrate/Kubernetes_iet8jy.png"
            alt="Devtegrate DevOps"
          />
          <p>Kubernetes</p>
        </div>

        <div class="inspiration-grid-box reveal__boxes blue-box-color">
          <img
            src="https://res.cloudinary.com/quinn-daisies/image/upload/v1706099543/devtegrate/Git_q2dcqr.png"
            alt="Devtegrate DevOps"
          />
          <p>GitHub Actions</p>
        </div>
      </div>
    </div>

    <!-- End of Slide in the mix -->

    <div class="SwitcherBtnContainer">
      <div class="SwitcherBtn active">
        <i class="bx bx-chevron-left"></i>
      </div>
      <div class="SwitcherBtn">
        <i class="bx bx-chevron-right"></i>
      </div>
    </div>
  </div>
</div>

<div class="inspiration-info">
  <div class="inspiration-info-container">
    <div class="inspiration-header-title">
      <span class="reveal__square_box">Software Development Life Cycle</span>
      <h2 class="reveal__box">Devtegrate SDLC Policies</h2>
      <p class="reveal__box__p">
        At Devtegrate, we adhere to a set of well-defined SDLC policies to
        ensure the delivery of high-quality software solutions that meet the
        needs and expectations of our clients.
      </p>
    </div>

    <div class="inspiration-info-flex">
      <div class="inspiration-info-details">
        <div class="inspiration-info-box reveal__boxes">
          <div class="big-rounded-ball AminationMovementOne"></div>
          <div class="medium-rounded-ball AminationMovementTwo"></div>
          <div class="small-rounded-ball AminationMovementThree"></div>
          <div class="inspiration-info-box-content">
            <h2>Software Development Life Cycle</h2>
            <p>
              The SDLC typically includes stages such as planning, analysis,
              design, implementation, testing, deployment, and maintenance.
            </p>
          </div>
        </div>

        <div class="inspiration-info-box reveal__boxes">
          <div class="big-rounded-ball AminationMovementFour"></div>
          <div class="medium-rounded-ball AminationMovementThree"></div>
          <div class="small-rounded-ball AminationMovementTwo"></div>
          <div class="inspiration-info-box-content">
            <h2>Devtegrate SDLC Policies</h2>
            <p>
              At Devtegrate, we recognize the importance of a well-defined and
              streamlined SDLC for delivering robust and efficient software
              solutions.
            </p>
          </div>
        </div>

        <div class="inspiration-info-box reveal__boxes">
          <div class="big-rounded-ball AminationMovementOne"></div>
          <div class="medium-rounded-ball AminationMovementThree"></div>
          <div class="small-rounded-ball AminationMovementFour"></div>
          <div class="inspiration-info-box-content">
            <h2>Future Directions and Industry Best Practices</h2>
            <p>
              Devtegrate explores emerging trends in SDLC, such as the
              integration of DevOps practices, automation, and the adoption of
              cloud-native architectures.
            </p>
          </div>
        </div>
      </div>

      <div class="inspiration-info-image">
        <img
          src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/devtegrate_image_3.jpg"
          class= "reveal__boxes"
          alt="Devtegrate DevOps"
        />
        <div class="inspiration-info-image-content reveal__box__p">
          <span>Software Development Life Cycle</span>
          <h2>Navigating the Software Development Life Cycle</h2>
        </div>
      </div>
    </div>

    <div>
      <div></div>
    </div>
  </div>
</div>

<div class="inspiration-devtegration">
  <div class="inspiration-devtegration-header">
    <h4 class="reveal__box">Elevate Your Cloud Experience with Devtegrate</h4>
    <p class="reveal__box__p">
      Our team, comprised of certified professionals, brings a wealth of
      expertise and experience in cloud computing, ensuring top-tier services
      tailored to your specific needs.
    </p>
  </div>

  <div class="inspiration-devtegration-box">
    <div class="inspiration-devtegration-box-info">
      <div class="inspiration-devtegration-box-info-navigation">
        <div class="inspiration-devtegration-box-info-navigation-set active reveal__boxes">
          Expertise and Experience
        </div>
        <div class="inspiration-devtegration-box-info-navigation-set reveal__boxes">
          Certified Cloud Professionals
        </div>
        <div class="inspiration-devtegration-box-info-navigation-set reveal__boxes">
          Reliability and Efficiency
        </div>
        <div class="inspiration-devtegration-box-info-navigation-set reveal__boxes">
          Innovative Assessments
        </div>
      </div>

      <div class="inspiration-slide-container reveal__square_box">
        <div
          class="inspiration-devtegration-box-info-navigation-set-content active"
        >
          <div
            class="inspiration-devtegration-box-info-navigation-set-content-details"
          >
            <div
              class="inspiration-devtegration-box-info-navigation-set-content-details-header"
            >
              <span>Our services speaks for us.</span>
              <h3>Expertise and Experience.</h3>
            </div>

            <div
              class="inspiration-devtegration-box-info-navigation-set-content-details-content"
            >
              <p>
                Cloud expertise typically involves knowledge of cloud
                architecture, deployment models, and the various services and
                technologies offered by cloud providers. This can include
                understanding of infrastructure-as-a-service (IaaS),
                platform-as-a-service (PaaS), and software-as-a-service (SaaS)
                offerings, as well as knowledge of specific cloud platforms such
                as Amazon Web Services (AWS), Microsoft Azure, and Google Cloud
                Platform which we know all too well and utilize daily in a bid
                to render professional services to our clients.
              </p>
            </div>
          </div>

          <div
            class="inspiration-devtegration-box-info-navigation-set-content-details-image"
          >
            <img
              src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696848769/devtegrate-updates/Endpoint-amico_1_xdnwmn.png"
              alt="Devtegrate DevOps"
            />
          </div>
        </div>

        <div class="inspiration-devtegration-box-info-navigation-set-content">
          <div
            class="inspiration-devtegration-box-info-navigation-set-content-details"
          >
            <div
              class="inspiration-devtegration-box-info-navigation-set-content-details-header"
            >
              <span>Our services speaks for us.</span>
              <h3>Certified Cloud Professionals.</h3>
            </div>

            <div
              class="inspiration-devtegration-box-info-navigation-set-content-details-content"
            >
              <p>
                We garner a large crop of “Certified Cloud Professionals”;
                individuals who have demonstrated their knowledge and expertise
                in cloud computing technologies by earning a professional
                certification. Our cloud professionals boast of certifications
                in AWS Certified Solutions Architect, Microsoft Azure Certified
                Solutions Architect, Google Cloud Certified Professional Cloud
                Architect, CompTIA Cloud+, Certified Cloud Security Professional
                (CCSP) and are well vast in the use of various cloud DevOps
                tools.
              </p>
            </div>
          </div>

          <div
            class="inspiration-devtegration-box-info-navigation-set-content-details-image"
          >
            <img
              src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696848768/devtegrate-updates/Endpoint-pana_h6uve9.png"
              alt="Devtegrate DevOps"
            />
          </div>
        </div>

        <div class="inspiration-devtegration-box-info-navigation-set-content">
          <div
            class="inspiration-devtegration-box-info-navigation-set-content-details"
          >
            <div
              class="inspiration-devtegration-box-info-navigation-set-content-details-header"
            >
              <span>Our services speaks for us.</span>
              <h3>Reliability and Efficiency.</h3>
            </div>

            <div
              class="inspiration-devtegration-box-info-navigation-set-content-details-content"
            >
              <p>
                Cloud service reliability and efficiency are important
                considerations for any organization that uses cloud computing
                technologies. A reliable cloud service is essential for
                businesses and organizations that rely on cloud computing for
                mission-critical operations. This could include storing and
                accessing important data, running applications and services, or
                providing access to remote employees. A reliable cloud service
                should be able to handle heavy workloads without downtime or
                data loss, and should have robust security measures in place to
                protect against cyber threats critical Devtegrate Cloud DevOps,
                DevSecOps Services.
              </p>
            </div>
          </div>

          <div
            class="inspiration-devtegration-box-info-navigation-set-content-details-image"
          >
            <img
              src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696848768/devtegrate-updates/Endpoint-cuate_t6eppk.png"
              alt="Devtegrate DevOps"
            />
          </div>
        </div>

        <div class="inspiration-devtegration-box-info-navigation-set-content">
          <div
            class="inspiration-devtegration-box-info-navigation-set-content-details"
          >
            <div
              class="inspiration-devtegration-box-info-navigation-set-content-details-header"
            >
              <span>Our services speaks for us.</span>
              <h3>Innovative Assessments.</h3>
            </div>

            <div
              class="inspiration-devtegration-box-info-navigation-set-content-details-content"
            >
              <p>
                Innovative assessments can be an effective tool for evaluating
                proficiency in cloud services and DevOps. By using drawing up
                innovative and hands-on assessments on various growing cloud
                DevOps challenges, we seek to provide solutions to these
                problems and ensure professional satisfactory performance are
                the end results of our professional services.
              </p>
            </div>
          </div>

          <div
            class="inspiration-devtegration-box-info-navigation-set-content-details-image"
          >
            <img
              src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696848768/devtegrate-updates/Endpoint-bro_dqqdap.png"
              alt="Devtegrate DevOps"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="inspiration-tools">
  <div class="inspiration-tools-header">
    <span class="reveal__box" >Development. Integration. Devtegration.</span>
    <h2 class="reveal__box__p">Cloud Tools at Devtegrate</h2>
    <p class="reveal__box">
      Discover the suite of sophisticated tools meticulously employed by our
      experts to drive excellence in developmental operations at Devtegrate.
    </p>
  </div>

  <div class="inspiration-tools-grid">
    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/kubernetes.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/gitlab.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/github.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/gitactions.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/postgresql.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/mysql.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/jenkins.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/circleci.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/grafana.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/ansible.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/rabbitMQ.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/gcp.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/aws.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/azure.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/mongodb.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/docker.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/redis.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/prometheus.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/terraform.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/kafka.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/puppet.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="inspiration-tools-box reveal__boxes">
      <img
        src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/chef.png"
        alt="Devtegrate DevOps"
      />
    </div>
  </div>
</section>

<div class="contact-section">
  <div class="contact-section-container">
    <div class="contact-section-content">
      <h1>Contact Us</h1>
      <p>
        Reach out to our dedicated team for personalized assistance and expert
        guidance. We are here to address your inquiries, provide solutions, and
        ensure a seamless experience. Your success is our priority.
      </p>
    </div>
  </div>
</div>

<div class="senders-form">
  <div class="senders-form-container">
    <div class="senders-form-content">
      <div class="senders-form-image-content">
        <img
          src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696095670/devtegrate/6222818_hj3221.jpg"
          alt="Devtegrate DevOps"
        />

        <div class="senders-form-image-content-details">
          <span>DevOps | Cloud Services | Automation </span>
          <h1>Initiate Your Journey Here</h1>
          <p>
            Kindly submit an inquiry to commence your engagement with our cloud
            services.
          </p>
        </div>
      </div>

      <div class="senders-form-action">
        <form method="POST">
          {{ form.hidden_tag() }} {% for message in get_flashed_messages() %}
          <div
            class="alert alert-success alert-dismissible fade show"
            role="alert"
          >
            <p class="message-font">Hi! {{ message }}</p>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endfor %}

          <h1>Send Us a Mail</h1>

          <div class="senders-form-action-flex">
            <div class="senders-form-action-container">
              <p>Email Address:</p>
              <input
                type="email"
                name="recipient_emails"
                placeholder="Company's Email Address"
                required
              />
            </div>

            <div class="senders-form-action-container">
              <p>Phone Number:</p>
              <input
                type="number"
                name="phone"
                placeholder="Phone number"
                required
              />
            </div>
          </div>

          <div class="senders-form-action-container-space">
            <p>Subject:</p>
            <input type="text" name="subject" placeholder="Subject" required />
          </div>

          <div class="senders-form-action-container-space">
            <textarea
              name="message"
              placeholder="Write here..."
              required
            ></textarea>
          </div>

          <button type="submit" name="submit">
            <div>Send mail</div>
            <i class="bx bx-right-arrow-alt"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
