{% if 'inspiration' in request.url_rule.rule %}

<header class="colored-bg">
  <a href="{{ url_for ('index') }}">
    <img
      src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724214/devtegrate/logo2_ksnrk2.png"
      alt="Devtegrate DevOps"
      class="brand colored-bg-hidden-shadow"
    />

    <img
      src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724222/devtegrate/devtegrate_ayl4m6.png"
      alt="Devtegrate DevOps"
      class="brand colored-bg-hidden"
    />
  </a>

  <div class="navbar-content">
    <li class="drop-down">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>What We Do</div>
      </div>

      <ul class="nav-content-grid">
        <li>
          <a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure <br />
            <p>
              Explore a comprehensive suite of cloud infrastructure designed to
              meet your business needs.
            </p>
          </a>
          <a href="{{ url_for ('cloud_infrastructure') }}" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations <br />
            <p>
              Whether you're moving from on-premises infrastructure or between
              cloud providers, our experts ensure a secure and efficient
              migration process.
            </p>
          </a>
          <a href="{{ url_for ('cloud_migration') }}" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing <br />
            <p>Receive expert guidance on Cloud Computing and optimization.</p>
          </a>
          <a href=" {{ url_for ('cloud_computing') }} " class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Cloud Platforms <br />
            <p>
              Discover robust and scalable cloud platforms that empower your
              applications and services.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Managed Cloud Services <br />
            <p>
              Offload the complexities of cloud management to our team. Benefit
              from proactive monitoring, routine maintenance, and expert
              support.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Cloud Security Services <br />
            <p>
              Ensure the integrity and confidentiality of your data with our
              comprehensive cloud security services.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="drop-down-two">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Who We Are</div>
      </div>

      <ul class="nav-content">
        <li><a href="{{ url_for('about') }}">About Devtegrate LLC</a></li>
        <li><a href="{{ url_for('partner') }}">Our Partners</a></li>
      </ul>
    </li>

    <li>
      <a href=" {{ url_for ('services') }} ">Why Us</a>
    </li>

    <li class="drop-down-three">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Insights</div>
      </div>
      <ul class="nav-content-three">
        <li>
          <a href="{{ url_for ('inspiration') }}">Inspiration & Integration</a>
        </li>
        <!-- <li><a href="">Social Media</a></li>
          <li><a href="">Blog posts</a></li> -->
      </ul>
    </li>

    <li>
      <a href=" {{ url_for ('contact') }} ">Get In Touch</a>
    </li>
  </div>
</header>


<!----------------------------->
<!----------------------------->
<!--Responsive Btn Navigation-->
<!----------------------------->
<!----------------------------->

<div class="sm-navbar">
  <div class="sm-navbar-content">
    <div class="sm-navbar-content-img">
      <img
        src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724222/devtegrate/devtegrate_ayl4m6.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="sm-navbar-content-navigation">
      <div class="sm-navbar-icon active">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/2.png" alt="Devtegrate DevOps">
      </div>

      <div class="sm-navbar-icon-two">
        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1707316259/devtegrate/Close_ebnmdo.png" alt="Devtegrate DevOps">
      </div>
    </div>
  </div>

  <div class="responsive-nav">
    <li class="DropDownBtn">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>What We Do</div>
      </div>

      <ul>
        <li><a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure</a></li>

        <li><a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations</a></li>

        <li><a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing</a></li>
        <li><a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure</a></li>

        <li><a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations</a></li>

        <li><a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing</a></li>
      </ul>
    </li>

    <li class="DropDownBtnTwo">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Who We Are</div>
      </div>

      <ul>
        <li><a href="{{ url_for('about') }}">About Devtegrate LLC</a></li>
        <li><a href="{{ url_for('partner') }}">Our Partners</a></li>
      </ul>
    </li>

    <li><a href=" {{ url_for ('services') }} ">Why Us</a></li>

    <li><a href="{{ url_for ('inspiration') }}">Inspiration & Integration</a></li>

    <li><a href=" {{ url_for ('contact') }} ">Get In Touch</a></li>
  </div>
</div>

{% elif 'cloud-migration' in request.url_rule.rule %}

<header class="colored-bg">
  <a href="{{ url_for ('index') }}">
    <img
      src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724214/devtegrate/logo2_ksnrk2.png"
      alt="Devtegrate DevOps"
      class="brand colored-bg-hidden-shadow"
    />

    <img
      src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724222/devtegrate/devtegrate_ayl4m6.png"
      alt="Devtegrate DevOps"
      class="brand colored-bg-hidden"
    />
  </a>

  <div class="navbar-content">
    <li class="drop-down">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>What We Do</div>
      </div>

      <ul class="nav-content-grid">
        <li>
          <a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure <br />
            <p>
              Explore a comprehensive suite of cloud infrastructure designed to
              meet your business needs.
            </p>
          </a>
          <a href="{{ url_for ('cloud_infrastructure') }}" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations <br />
            <p>
              Whether you're moving from on-premises infrastructure or between
              cloud providers, our experts ensure a secure and efficient
              migration process.
            </p>
          </a>
          <a href="{{ url_for ('cloud_migration') }}" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing <br />
            <p>Receive expert guidance on Cloud Computing and optimization.</p>
          </a>
          <a href=" {{ url_for ('cloud_computing') }} " class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Cloud Platforms <br />
            <p>
              Discover robust and scalable cloud platforms that empower your
              applications and services.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Managed Cloud Services <br />
            <p>
              Offload the complexities of cloud management to our team. Benefit
              from proactive monitoring, routine maintenance, and expert
              support.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Cloud Security Services <br />
            <p>
              Ensure the integrity and confidentiality of your data with our
              comprehensive cloud security services.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="drop-down-two">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Who We Are</div>
      </div>

      <ul class="nav-content">
        <li><a href="{{ url_for('about') }}">About Devtegrate LLC</a></li>
        <li><a href="{{ url_for('partner') }}">Our Partners</a></li>
      </ul>
    </li>

    <li>
      <a href=" {{ url_for ('services') }} ">Why Us</a>
    </li>

    <li class="drop-down-three">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Insights</div>
      </div>
      <ul class="nav-content-three">
        <li>
          <a href="{{ url_for ('inspiration') }}">Inspiration & Integration</a>
        </li>
        <!-- <li><a href="">Social Media</a></li>
          <li><a href="">Blog posts</a></li> -->
      </ul>
    </li>

    <li>
      <a href=" {{ url_for ('contact') }} ">Get In Touch</a>
    </li>
  </div>
</header>

<!----------------------------->
<!----------------------------->
<!--Responsive Btn Navigation-->
<!----------------------------->
<!----------------------------->

<div class="sm-navbar">
  <div class="sm-navbar-content">
    <div class="sm-navbar-content-img">
      <img
        src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724222/devtegrate/devtegrate_ayl4m6.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="sm-navbar-content-navigation">
      <div class="sm-navbar-icon active">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/2.png" alt="Devtegrate DevOps">
      </div>

      <div class="sm-navbar-icon-two">
        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1707316259/devtegrate/Close_ebnmdo.png" alt="Devtegrate DevOps">
      </div>
    </div>
  </div>

  <div class="responsive-nav">
    <li class="DropDownBtn">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>What We Do</div>
      </div>

      <ul>
        <li><a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure</a></li>

        <li><a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations</a></li>

        <li><a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing</a></li>
        <li><a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure</a></li>

        <li><a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations</a></li>

        <li><a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing</a></li>
      </ul>
    </li>

    <li class="DropDownBtnTwo">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Who We Are</div>
      </div>

      <ul>
        <li><a href="{{ url_for('about') }}">About Devtegrate LLC</a></li>
        <li><a href="{{ url_for('partner') }}">Our Partners</a></li>
      </ul>
    </li>

    <li><a href=" {{ url_for ('services') }} ">Why Us</a></li>

    <li><a href="{{ url_for ('inspiration') }}">Inspiration & Integration</a></li>

    <li><a href=" {{ url_for ('contact') }} ">Get In Touch</a></li>
  </div>
</div>

{% elif 'cloud-infrastructure' in request.url_rule.rule %}

<header class="colored-bg">
  <a href="{{ url_for ('index') }}">
    <img
      src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724214/devtegrate/logo2_ksnrk2.png"
      alt="Devtegrate DevOps"
      class="brand colored-bg-hidden-shadow"
    />

    <img
      src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724222/devtegrate/devtegrate_ayl4m6.png"
      alt="Devtegrate DevOps"
      class="brand colored-bg-hidden"
    />
  </a>

  <div class="navbar-content">
    <li class="drop-down">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>What We Do</div>
      </div>

      <ul class="nav-content-grid">
        <li>
          <a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure <br />
            <p>
              Explore a comprehensive suite of cloud infrastructure designed to
              meet your business needs.
            </p>
          </a>
          <a href="{{ url_for ('cloud_infrastructure') }}" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations <br />
            <p>
              Whether you're moving from on-premises infrastructure or between
              cloud providers, our experts ensure a secure and efficient
              migration process.
            </p>
          </a>
          <a href="{{ url_for ('cloud_migration') }}" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing <br />
            <p>Receive expert guidance on Cloud Computing and optimization.</p>
          </a>
          <a href=" {{ url_for ('cloud_computing') }} " class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Cloud Platforms <br />
            <p>
              Discover robust and scalable cloud platforms that empower your
              applications and services.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Managed Cloud Services <br />
            <p>
              Offload the complexities of cloud management to our team. Benefit
              from proactive monitoring, routine maintenance, and expert
              support.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Cloud Security Services <br />
            <p>
              Ensure the integrity and confidentiality of your data with our
              comprehensive cloud security services.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="drop-down-two">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Who We Are</div>
      </div>

      <ul class="nav-content">
        <li><a href="{{ url_for('about') }}">About Devtegrate LLC</a></li>
        <li><a href="{{ url_for('partner') }}">Our Partners</a></li>
      </ul>
    </li>

    <li>
      <a href=" {{ url_for ('services') }} ">Why Us</a>
    </li>

    <li class="drop-down-three">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Insights</div>
      </div>
      <ul class="nav-content-three">
        <li>
          <a href="{{ url_for ('inspiration') }}">Inspiration & Integration</a>
        </li>
        <!-- <li><a href="">Social Media</a></li>
          <li><a href="">Blog posts</a></li> -->
      </ul>
    </li>

    <li>
      <a href=" {{ url_for ('contact') }} ">Get In Touch</a>
    </li>
  </div>
</header>

<!----------------------------->
<!----------------------------->
<!--Responsive Btn Navigation-->
<!----------------------------->
<!----------------------------->

<div class="sm-navbar">
  <div class="sm-navbar-content">
    <div class="sm-navbar-content-img">
      <img
        src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724222/devtegrate/devtegrate_ayl4m6.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="sm-navbar-content-navigation">
      <div class="sm-navbar-icon active">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/2.png" alt="Devtegrate DevOps">
      </div>

      <div class="sm-navbar-icon-two">
        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1707316259/devtegrate/Close_ebnmdo.png" alt="Devtegrate DevOps">
      </div>
    </div>
  </div>

  <div class="responsive-nav">
    <li class="DropDownBtn">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>What We Do</div>
      </div>

      <ul>
        <li><a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure</a></li>

        <li><a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations</a></li>

        <li><a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing</a></li>
        <li><a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure</a></li>

        <li><a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations</a></li>

        <li><a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing</a></li>
      </ul>
    </li>

    <li class="DropDownBtnTwo">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Who We Are</div>
      </div>

      <ul>
        <li><a href="{{ url_for('about') }}">About Devtegrate LLC</a></li>
        <li><a href="{{ url_for('partner') }}">Our Partners</a></li>
      </ul>
    </li>

    <li><a href=" {{ url_for ('services') }} ">Why Us</a></li>

    <li><a href="{{ url_for ('inspiration') }}">Inspiration & Integration</a></li>

    <li><a href=" {{ url_for ('contact') }} ">Get In Touch</a></li>
  </div>
</div>

{% elif 'devtegrate-cloud-computing' in request.url_rule.rule %}

<header class="colored-bg">
  <a href="{{ url_for ('index') }}">
    <img
      src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724214/devtegrate/logo2_ksnrk2.png"
      alt="Devtegrate DevOps"
      class="brand colored-bg-hidden-shadow"
    />

    <img
      src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724222/devtegrate/devtegrate_ayl4m6.png"
      alt="Devtegrate DevOps"
      class="brand colored-bg-hidden"
    />
  </a>

  <div class="navbar-content">
    <li class="drop-down">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>What We Do</div>
      </div>

      <ul class="nav-content-grid">
        <li>
          <a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure <br />
            <p>
              Explore a comprehensive suite of cloud infrastructure designed to
              meet your business needs.
            </p>
          </a>
          <a href="{{ url_for ('cloud_infrastructure') }}" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations <br />
            <p>
              Whether you're moving from on-premises infrastructure or between
              cloud providers, our experts ensure a secure and efficient
              migration process.
            </p>
          </a>
          <a href="{{ url_for ('cloud_migration') }}" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing <br />
            <p>Receive expert guidance on Cloud Computing and optimization.</p>
          </a>
          <a href=" {{ url_for ('cloud_computing') }} " class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Cloud Platforms <br />
            <p>
              Discover robust and scalable cloud platforms that empower your
              applications and services.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Managed Cloud Services <br />
            <p>
              Offload the complexities of cloud management to our team. Benefit
              from proactive monitoring, routine maintenance, and expert
              support.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Cloud Security Services <br />
            <p>
              Ensure the integrity and confidentiality of your data with our
              comprehensive cloud security services.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="drop-down-two">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Who We Are</div>
      </div>

      <ul class="nav-content">
        <li><a href="{{ url_for('about') }}">About Devtegrate LLC</a></li>
        <li><a href="{{ url_for('partner') }}">Our Partners</a></li>
      </ul>
    </li>

    <li>
      <a href=" {{ url_for ('services') }} ">Why Us</a>
    </li>

    <li class="drop-down-three">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Insights</div>
      </div>
      <ul class="nav-content-three">
        <li>
          <a href="{{ url_for ('inspiration') }}">Inspiration & Integration</a>
        </li>
        <!-- <li><a href="">Social Media</a></li>
          <li><a href="">Blog posts</a></li> -->
      </ul>
    </li>

    <li>
      <a href=" {{ url_for ('contact') }} ">Get In Touch</a>
    </li>
  </div>
</header>

<!----------------------------->
<!----------------------------->
<!--Responsive Btn Navigation-->
<!----------------------------->
<!----------------------------->

<div class="sm-navbar">
  <div class="sm-navbar-content">
    <div class="sm-navbar-content-img">
      <img
        src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724222/devtegrate/devtegrate_ayl4m6.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="sm-navbar-content-navigation">
      <div class="sm-navbar-icon active">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/2.png" alt="Devtegrate DevOps">
      </div>

      <div class="sm-navbar-icon-two">
        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1707316259/devtegrate/Close_ebnmdo.png" alt="Devtegrate DevOps">
      </div>
    </div>
  </div>

  <div class="responsive-nav">
    <li class="DropDownBtn">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>What We Do</div>
      </div>

      <ul>
        <li><a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure</a></li>

        <li><a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations</a></li>

        <li><a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing</a></li>
        <li><a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure</a></li>

        <li><a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations</a></li>

        <li><a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing</a></li>
      </ul>
    </li>

    <li class="DropDownBtnTwo">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Who We Are</div>
      </div>

      <ul>
        <li><a href="{{ url_for('about') }}">About Devtegrate LLC</a></li>
        <li><a href="{{ url_for('partner') }}">Our Partners</a></li>
      </ul>
    </li>

    <li><a href=" {{ url_for ('services') }} ">Why Us</a></li>

    <li><a href="{{ url_for ('inspiration') }}">Inspiration & Integration</a></li>

    <li><a href=" {{ url_for ('contact') }} ">Get In Touch</a></li>
  </div>
</div>

{% else %}
<header>
  <a href="{{ url_for ('index') }}">
    <img
      src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724222/devtegrate/devtegrate_ayl4m6.png"
      alt="Devtegrate DevOps"
      class="brand"
    />
  </a>

  <div class="navbar-content">
    <li class="drop-down">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>What We Do</div>
      </div>

      <ul class="nav-content-grid">
        <li>
          <a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure <br />
            <p>
              Explore a comprehensive suite of cloud infrastructure designed to
              meet your business needs.
            </p>
          </a>
          <a href="{{ url_for ('cloud_infrastructure') }}" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations <br />
            <p>
              Whether you're moving from on-premises infrastructure or between
              cloud providers, our experts ensure a secure and efficient
              migration process.
            </p>
          </a>
          <a href="{{ url_for ('cloud_migration') }}" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing <br />
            <p>Receive expert guidance on Cloud Computing and optimization.</p>
          </a>
          <a href=" {{ url_for ('cloud_computing') }} " class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Cloud Platforms <br />
            <p>
              Discover robust and scalable cloud platforms that empower your
              applications and services.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Managed Cloud Services <br />
            <p>
              Offload the complexities of cloud management to our team. Benefit
              from proactive monitoring, routine maintenance, and expert
              support.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>

        <li>
          <a href="#"
            >Cloud Security Services <br />
            <p>
              Ensure the integrity and confidentiality of your data with our
              comprehensive cloud security services.
            </p>
          </a>
          <a href="" class="arrow-btn">
            <i class="bx bx-right-arrow-alt"></i>
            <div>Learn More</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="drop-down-two">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Who We Are</div>
      </div>

      <ul class="nav-content">
        <li><a href="{{ url_for('about') }}">About Devtegrate LLC</a></li>
        <li><a href="{{ url_for('partner') }}">Our Partners</a></li>
      </ul>
    </li>

    <li>
      <a href=" {{ url_for ('services') }} ">Why Us</a>
    </li>

    <li class="drop-down-three">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Insights</div>
      </div>
      <ul class="nav-content-three">
        <li>
          <a href="{{ url_for ('inspiration') }}">Inspiration & Integration</a>
        </li>
        <!-- <li><a href="">Social Media</a></li> -->
        <!-- <li><a href="">Blog posts</a></li> -->
      </ul>
    </li>

    <li>
      <a href=" {{ url_for ('contact') }} ">Get In Touch</a>
    </li>
  </div>
</header>

<!----------------------------->
<!----------------------------->
<!--Responsive Btn Navigation-->
<!----------------------------->
<!----------------------------->

<div class="sm-navbar">
  <div class="sm-navbar-content">
    <div class="sm-navbar-content-img">
      <img
        src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695724222/devtegrate/devtegrate_ayl4m6.png"
        alt="Devtegrate DevOps"
      />
    </div>

    <div class="sm-navbar-content-navigation">
      <div class="sm-navbar-icon active">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/2.png" alt="Devtegrate DevOps">
      </div>

      <div class="sm-navbar-icon-two">
        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1707316259/devtegrate/Close_ebnmdo.png" alt="Devtegrate DevOps">
      </div>
    </div>
  </div>

  <div class="responsive-nav">
    <li class="DropDownBtn">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>What We Do</div>
      </div>

      <ul>
        <li><a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure</a></li>

        <li><a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations</a></li>

        <li><a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing</a></li>
        <li><a href="{{ url_for ('cloud_infrastructure') }}"
            >Cloud Infrastructure</a></li>

        <li><a href="{{ url_for ('cloud_migration') }}"
            >Cloud Migrations</a></li>

        <li><a href="{{ url_for ('cloud_computing') }}"
            >Cloud Computing</a></li>
      </ul>
    </li>

    <li class="DropDownBtnTwo">
      <div class="header-animation">
        <i class="bx bxs-chevron-down"></i>
        <div>Who We Are</div>
      </div>

      <ul>
        <li><a href="{{ url_for('about') }}">About Devtegrate LLC</a></li>
        <li><a href="{{ url_for('partner') }}">Our Partners</a></li>
      </ul>
    </li>

    <li><a href=" {{ url_for ('services') }} ">Why Us</a></li>

    <li><a href="{{ url_for ('inspiration') }}">Inspiration & Integration</a></li>

    <li><a href=" {{ url_for ('contact') }} ">Get In Touch</a></li>
  </div>
</div>
{% endif %}
